/* GLOBAL */

:root {
	--color-primary: white;
	--color-secondary: black;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	width: 100%;
	min-height: 100dvh;
	overflow-x: hidden;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-color: var(--color-primary);
	color: var(--color-secondary);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

input {
	border: none;
	background-image: none;
	background-color: transparent;
}

input:focus {
	outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
}

a:focus,
a:hover {
	text-decoration: inherit;
}

button {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

i {
	display: block;
}

/* UTILITY */
/* prefix: utility- */
.utility-hover-toggle > .utility-hover-toggle-one {
	display: none;
}

.utility-hover-toggle > .utility-hover-toggle-two {
	display: block;
}

.utility-hover-toggle:hover > .utility-hover-toggle-two {
	display: none;
}

.utility-hover-toggle:hover > .utility-hover-toggle-one {
	display: block;
}

/* NAVBAR */
/* prefix: navbar- */

/* FOR MOBILE */
@media only screen and (max-width: 600px) {
	.navbar-header {
		font-size: 1.25rem;
	}

	.navbar-cart-button {
		font-size: 1rem;
	}
}

/* FOR TABLETS AND DESKTOPS */
@media only screen and (min-width: 600px) {
	.navbar-header {
		font-size: 1.5rem;
	}

	.navbar-cart-button {
		font-size: 1.25rem;
	}
}

.navbar-wrapper {
	width: 100%;
	background-color: var(--color-secondary);
	color: var(--color-primary);
	padding: 0.5rem;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	border-bottom: 0.15rem solid var(--color-primary);
	box-shadow:
		0px 0.6px 2.2px rgba(0, 0, 0, 0.014),
		0px 1.3px 5.3px rgba(0, 0, 0, 0.02),
		0px 2.5px 10px rgba(0, 0, 0, 0.025),
		0px 4.5px 17.9px rgba(0, 0, 0, 0.03),
		0px 8.4px 33.4px rgba(0, 0, 0, 0.036),
		0px 20px 80px rgba(0, 0, 0, 0.05);
}

.navbar-header {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.navbar-icon {
	display: block;
	margin-bottom: 2.5px;
}

.navbar-cart-button {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	padding: 0.25rem 0.5rem 0.15rem 0.5rem;
	border-radius: 0.25rem;
}

/* CARD */
/* prefix: card- */

/* FOR MOBILE */
@media only screen and (max-width: 600px) {
	.card-layout-wrapper {
		padding-top: 3.2rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		grid-template-columns: minmax(0, 1fr);
		grid-auto-rows: minmax(0, 25rem);
		width: 100%;
	}
}

/* FOR TABLETS */
@media only screen and (min-width: 600px) {
	.card-layout-wrapper {
		padding-top: 3.8rem;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-auto-rows: minmax(0, 15rem);
		width: 80%;
		margin: auto;
	}
}

/* FOR DESKTOP */
@media only screen and (min-width: 1000px) {
	.card-layout-wrapper {
		padding-top: 3.8rem;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-auto-rows: minmax(0, 20rem);
		width: 75%;
		margin: auto;
	}
}

.card-layout-wrapper {
	display: grid;
	gap: 1rem;
	min-height: 100dvh;
}

.card-wrapper {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 0.5rem;
}

.card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.card-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: var(--color-secondary);
	opacity: 0;
	transition: opacity 1s;
}

.card-wrapper:hover > .card-overlay {
	opacity: 0.5;
}

.card-content {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	padding: 0.5rem 0.75rem;
	display: flex;
	flex-direction: column;
	color: var(--color-primary);
	opacity: 0;
	transition: opacity 1s 0.5s;
}

.card-wrapper:hover > .card-content {
	opacity: 1;
}

.card-top {
	display: flex;
	align-items: start;
}

.card-top-left {
	flex-grow: 1;
}

.card-title {
	text-transform: uppercase;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.card-button-like {
	color: var(--color-primary);
	font-size: 1.25rem;
	transition: transform 0.5s;
}

.card-button-like:hover {
	transform: scale(1.2);
}

.card-button-like:active {
	transform: scale(0.8);
}

.card-description {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-bottom: 2rem;
}

.card-button-add {
	padding: 0.25rem 0.5rem;
	text-transform: uppercase;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	border-radius: 0.5rem;
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	transition: all 1s;
}

.card-button-add:hover {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

.card-button-add:active {
	background-color: var(--color-secondary);
	color: var(--color-primary);
	transform: scale(0.8);
}

/* FLOATING TOOLBAR */
/* prefix: floating-toolbar- */

/* FOR MOBILE */
@media only screen and (max-width: 600px) {
	.floating-toolbar-search,
	.floating-toolbar-search-wrapper {
		width: 100%;
	}
}

.floating-toolbar-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: 100dvh;
	pointer-events: none;
	display: flex;
	justify-content: end;
	align-items: end;
	padding: 1rem;
}

.floating-toolbar-search {
	pointer-events: all;
	height: 3rem;
	padding: 0.5rem;
	background-color: var(--color-primary);
	border: solid 0.1rem var(--color-secondary);
	border-radius: 0.5rem;
	box-shadow:
		0px 2.8px 2.2px rgba(0, 0, 0, 0.008),
		0px 6.7px 5.3px rgba(0, 0, 0, 0.012),
		0px 12.5px 10px rgba(0, 0, 0, 0.015),
		0px 22.3px 17.9px rgba(0, 0, 0, 0.018),
		0px 41.8px 33.4px rgba(0, 0, 0, 0.022),
		0px 100px 80px rgba(0, 0, 0, 0.03);
}

.floating-toolbar-search::placeholder {
	text-transform: uppercase;
}
