/* CARD */
/* prefix: card- */

/* FOR MOBILE */
@media only screen and (max-width: 600px) {
	.card-layout-wrapper {
		gap: 1.5rem;
		padding-top: 4rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		grid-template-columns: minmax(0, 1fr);
		grid-auto-rows: minmax(0, 25rem);
	}
}

/* FOR TABLETS */
@media only screen and (min-width: 600px) {
	.card-layout-wrapper {
		padding-top: 5rem;
		padding-left: 2rem;
		padding-right: 2rem;
		gap: 2rem;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-auto-rows: minmax(0, 15rem);
	}
}

/* FOR DESKTOP */
@media only screen and (min-width: 1500px) {
	.card-layout-wrapper {
		gap: 3rem;
		padding-top: 5rem;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-auto-rows: minmax(0, 20rem);
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

.card-layout-wrapper {
	display: grid;
	min-height: 100dvh;
	width: 100%;
}

.card-wrapper {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 0.5rem;
	box-shadow:
		0px 1.4px 2.2px rgba(0, 0, 0, 0.014),
		0px 3.3px 5.3px rgba(0, 0, 0, 0.02),
		0px 6.3px 10px rgba(0, 0, 0, 0.025),
		0px 11.2px 17.9px rgba(0, 0, 0, 0.03),
		0px 20.9px 33.4px rgba(0, 0, 0, 0.036),
		0px 50px 80px rgba(0, 0, 0, 0.05);
}

.card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.card-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: var(--color-secondary);
	opacity: 0;
	transition: opacity 1s;
}

.card-wrapper:hover > .card-overlay {
	opacity: 0.5;
}

.card-content {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	padding: 0.5rem 0.75rem;
	display: flex;
	flex-direction: column;
	color: var(--color-primary);
	opacity: 0;
	transition: opacity 1s 0.5s;
}

.card-wrapper:hover > .card-content {
	opacity: 1;
}

.card-top {
	display: flex;
	align-items: start;
}

.card-top-left {
	flex-grow: 1;
}

.card-title {
	text-transform: uppercase;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.card-button-like {
	color: var(--color-primary);
	font-size: 1.25rem;
	transition: transform 0.5s;
}

.card-button-like:hover {
	transform: scale(1.2);
}

.card-button-like:active {
	transform: scale(0.8);
}

.card-description {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-bottom: 2rem;
}

.card-button-add {
	padding: 0.25rem 0.5rem;
	text-transform: uppercase;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	border-radius: 0.5rem;
	font-size: 1.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	transition: all 1s;
}

.card-button-add:hover {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

.card-button-add:active {
	background-color: var(--color-secondary);
	color: var(--color-primary);
	transform: scale(0.8);
}
